<!DOCTYPE html>
<html>
 
<head>
    <title>GlobalWork</title>
</head>
 
<body>
     <img src="/logo.webp" alt="" id="logo" width="100" height="100">
    <h1>Thank You!</h1>
    <p>We've added your email address to the signup queue.
    </p>
    <h2>There are <%=user.position%> people ahead of you
    </h2>
    <p>This reservation is held for <%=user.email%>
    </p>
</body>
 
</html>