<!DOCTYPE html>
<html>
 
<head>
    <title>GlobalWork</title>
</head>
 
<body>
    <img src="/logo.webp" alt="" id="logo" width="100" height="100">
    <h1>Oh No!</h1>
    <p><%=err.message%></p>
</body>
 
</html>